/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.cdnfonts.com/css/eras-light-itc');
@import url('https://fonts.cdnfonts.com/css/hubot-sans');
@import url('https://fonts.cdnfonts.com/css/bodonixt-3');
@import url('https://fonts.cdnfonts.com/css/itc-eras-ultra');
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
  
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'ITC Eras Light', sans-serif;
    color: #3f2d1e;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.topLogo {
    text-align: center;
    background-color: #FCF9EE;
}
a{
    text-decoration: none;
}
hr {
    height: 3px;
    background-color: #d4af37;
    border: none;
}
th, td {
    border: 1px solid;
    border-color: #3f2d1e;
}
th {
    text-align: center;
    vertical-align: middle;
    color: #F4EDED;
    height: 80px;
    width: 160px;
}
table {
    width: 100%;
}
td a {
    color: #52ADC7;
}

th a {
    height: 70px;
    color: #d4af37;
    font-weight: bold;
}
thead {
    background-color: #3f2d1e;
}
tbody {
    background-color: #FCF9EE;
}
header {
    background-color: #d4af37;
    font-family: 'ITC Eras Light', sans-serif;   
}
.nav-item a {
    color: #F4EDED;
    font-weight: bold;
}
p a {
    color: #52ADC7;
    font-weight: bold;
}
div .acceptlink a {
    color: #52ADC7;
    font-weight: bold;
}