<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ardalis.SmartEnum" version="2.1.0" targetFramework="net472" />
  <package id="Ardalis.SmartEnum.JsonNet" version="2.1.0" targetFramework="net472" />
  <package id="CSharpFunctionalExtensions" version="2.34.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>