@page
@model Mega_Desk_Web_App.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Quote</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.CustName" class="control-label"></label>
                <input asp-for="Quote.CustName" class="form-control" />
                <span asp-validation-for="Quote.CustName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.QuoteDate" class="control-label"></label>
                <input asp-for="Quote.QuoteDate" class="form-control" />
                <span asp-validation-for="Quote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" />
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Drawers" class="control-label"></label>
                <input asp-for="Quote.Drawers" class="form-control" />
                <span asp-validation-for="Quote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Material" class="control-label"></label>
                <input asp-for="Quote.Material" class="form-control" />
                <span asp-validation-for="Quote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Production" class="control-label"></label>
                <input asp-for="Quote.Production" class="form-control" />
                <span asp-validation-for="Quote.Production" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Price" class="control-label"></label>
                <input asp-for="Quote.Price" class="form-control" />
                <span asp-validation-for="Quote.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<button class="btn btn-light editbtn">
    <a asp-page="Index">Back to Quotes</a>
</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
